body{

  background-image: url("../img/fondo_negro.jpg");
}

h1{
  color: powderblue;
  text-align: center;
}

p{
  color: White;
  text-align: center;
}

#container{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 4fr 8fr 2fr 8fr 4fr;
}

#container .texto1{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
}

#container .video{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
}

#container .texto2{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
}

#container .imagen{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
}

#container .texto3{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
}

#container .texto4{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
}

#container .paginas{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
}
